<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vayber.smbms.dao.Role.RoleMapper">

    <!--  返回类型即是list  但resultType还是写成resultType="Role"（Role为集合list中的实体类）-->
    <select id="getRoleList" resultType="com.vayber.smbms.pojo.Role">
        select * from smbms_role
    </select>

</mapper>